.chat-scroll-container::-webkit-scrollbar {
  display: none;
}

.chat-scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 8rem);
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  z-index: 5; /* 确保固定区域在其他内容之上 */
  padding-bottom: calc(1rem + env(safe-area-inset-bottom));
}
